@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

form {
  border: solid white 2px;
  padding: 10px;
  width: 300px;
}

input, select {
  display: block;
  width: 200px;
}

p {
  width: 250px;
}

input:valid {
  border: solid green 2px;
}

input:invalid {
  border: solid red 2px;
}

.error {
  color: red;
}